@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

@font-face {
  font-family: "SUPER-HERO";
  src: url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
}

#nav-list {
  font-family: "Lilita One", "";
}
